{% extends "base.html" %}
{% block content %}
<ul>
{% for link in links_list %}
   <li><a href="/{{ link.link }}">{{ link.link }}</a></li>
{% endfor %}
</ul>
<form action="{% url 'add-link' %}" method="post">
{% csrf_token %}
    <input type="url" name="url">

    <button type="submit">add</button>
</form>
{% endblock %}
